# Backend Environment Variables Example
PORT=3001

# PostgreSQL is recommended for Production.
# DATABASE_URL="postgresql://user:password@localhost:5432/neyesem?schema=public"
# For local dev using sqlite:
DATABASE_URL="file:./dev.db"

CORS_ORIGIN="http://localhost:5173"
JWT_SECRET="gizli-super-secret-key-123"

# Logger Configuration (error, warn, info, debug)
LOG_LEVEL="debug"
